#movieBrowser {
  background-color: #1e1827;
  color: #cebfe5;
  font-family: sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

#movieStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  font-family: sans-serif;
  background-color: #1e1827;
  color: #cebfe5;
}

#movieStart>p,
h1 {
  text-align: center;
}

#error {
  color: #e11111;
  font-weight: bold;
}

#movieBrowser>h1,
#movieBrowser>h2,
#movieBrowser>p {
  text-align: center;
}

#movieInput {
  width: 300px;
  margin: 0px auto;
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
}

#movieButton {
  width: fit-content;
  margin: 10px auto;
  color: #1e1827;
  padding: 9px;
}

#movieResult {
  display: flex;
  padding: 15px;
  font-size: 0.7em;
  margin: auto;
  flex-wrap: wrap;
  background-color: #1e1827;
  color: #cebfe5;
  font-family: sans-serif;
  align-content: center;
  justify-content: space-around;
}

.movieCard {
  padding: 15px;
  font-family: sans-serif;
  margin: 15px;
  width: 200px;
  text-align: start;
  color: #1e1827;
  background-color: #cebfe5;
  overflow: hidden;
  border-radius: 20px;
  z-index: 1;
}

.moviePoster {
  position: relative;
  left: -3em;
  top: -3em;
  width: 125%;
  aspect-ratio: auto;
}

#movieResultPage {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

#movieInputResult {
  padding: 10px;
  margin: 20px;
}
