html {
  height: 100%;
}

body {
  margin: 0px;
  min-height: 100vh;
}

#root {
  margin: 0px;
  height: 100%;
}

@keyframes backButtonKeyframes {
  from {
    transform: rotateY(90deg);
  }

  to {
    transform: rotateY(0deg);
  }
}
#sticky{
  position: sticky;
  left: 90vw;
  bottom: 50px;
  width: 10vh;
  height: 10vh;
  padding: 10px;
  background-color: #413bab;
  border-radius: 20px;
  z-index: 3;
}
#backButton {
  width: 10vh;
  height: 10vh;
  right: 60px;
  bottom: 50px;
  position: sticky;
  animation-name: backButtonKeyframes;
  animation-duration: 0.9s;
  transition-timing-function: ease-out;
  cursor: pointer;
}

#backButton:hover {
  background-color: #292979;
  transition-timing-function: ease-out;
  transition-duration: 0.4s;
}

#backButton > img {
  color: white;
  width: 10vh;
  height: 10vh;
}
