html {
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
}

#root {
  margin: 0px;
  height: 100%;
}


@keyframes backButtonKeyframes {
  from {
    transform: rotateY(90deg);
  }

  to {
    transform: rotateY(0deg);
  }
}

#backButton {
  position: absolute;
  background-color: #413bab;
  border-radius: 20px;
  padding: 10px;
  width: 10vh;
  height: 10vh;
  right: 60px;
  bottom: 50px;
  animation-name: backButtonKeyframes;
  animation-duration: 0.9s;
  transition-timing-function: ease-out;
  cursor: pointer;
}

#backButton:hover {
  background-color: #292979;
  transition-timing-function: ease-out;
  transition-duration: 0.4s;
}

#backButton>img {
  color: white;
  width: 10vh;
  height: 10vh;
}
